extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Italtherm - Газовые котлы из Италии
block page


    .intro 
        .intro__container
            +pictureSizeWithoutLazyMedia('intro/intro-banner-4', 'intro/intro-banner-4-mob', 'jpg', 'x2', 1920, 746, 576, 575)


    include ./blocks/_info

    include ./blocks/_geo

    include ./blocks/_production

    include ./blocks/_feedback

    include ./blocks/_platforms

    include ./blocks/_policy










