extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Italtherm - Газовые котлы из Италии
block page

    .container
        p: a(href="./modeli.html") Модели
        p: a(href="./proizvodstvo.html") Производство
        p: a(href="./garantiya.html") Гарантия
        p: a(href="./ekonomiya.html") Экономия
        p: a(href="./kachestvo.html") Качество










